* text=auto !eol
/.project -text
/README.txt -text
/build-custom-cacore.properties -text
/build-custom-cacore.xml -text
/build.xml -text
conf/DAOConfig.xml -text
conf/codegen/control-files/beanevsgeneration.xml -text
conf/codegen/control-files/beanevswsgeneration.xml -text
conf/codegen/control-files/beangeneration_cacore.xml -text
conf/codegen/control-files/castormappinggeneration.xml -text
conf/codegen/control-files/castormappinggeneration_cacore.xml -text
conf/codegen/control-files/daogeneration.xml -text
conf/codegen/control-files/evsPackageUtil.xml -text
conf/codegen/control-files/evs_schemageneration.xml -text
conf/codegen/control-files/wsddEVSUtil.xml -text
conf/codegen/resources/xml.properties -text
conf/codegen/template/BeanEVSImpl.javajet -text svneol=unset#application/octet-stream
conf/codegen/template/BeanEVSWS.javajet -text svneol=unset#application/octet-stream
conf/codegen/template/BeanSkel_EVS.skeleton -text svneol=unset#application/octet-stream
conf/codegen/template/BeancaCORE.javajet -text svneol=unset#application/octet-stream
conf/codegen/template/EVSBeanSkel.skeleton -text svneol=unset#application/octet-stream
conf/core-deploy.properties -text
conf/ehcache_evs.xml -text
conf/evs.properties -text
conf/hibernate/hibernate.properties -text
conf/orm1.cfg.xml -text
conf/orm2.cfg.xml -text
conf/spring/SDKSpringBeanConfig.xml -text
conf/svr_1/admpriv.bin -text
conf/svr_1/admpub.bin -text
conf/svr_1/config.dct -text svneol=unset#application/octet-stream
conf/svr_1/privkey.bin -text
conf/svr_1/pubkey.bin -text
conf/svr_1/siteinfo.bin -text
conf/web/WEB-INF/web.xml -text
conf/web/images/evs.gif -text
conf/web/images/sdk.gif -text
conf/webservice/server-config.wsdd -text svneol=unset#application/octet-stream
conf/xslt/cacoreFormat.xsl -text
conf/xslt/evsFormat.xsl -text
custom/src/gov/nih/nci/cadsr/domain/Context.java -text
demo/EVSMonitor.java -text
demo/EVSWSClient.java -text
demo/TestCase.java -text
demo/TestClient.java -text
demo/TestDSR.java -text
demo/TestEVS.java -text
demo/TestSVG.java -text
demo/TestXML.java -text
demo/WSTestClient.java -text
demo/build_client.xml -text
demo/evsmonitor.bat -text
documents/caCORE3-0-1-1_README.txt -text
documents/caCORE3-0-1-1_SOURCE_README.txt -text
documents/caCORE3-0-1-2_README.txt -text
documents/caCORE3-0-1-2_SOURCE_README.txt -text
documents/caCORE3-0-1_README.txt -text
documents/caCORE3-0-1_SOURCE_README.txt -text
documents/caCORE3-1_README.txt -text
documents/caCORE3-1_SOURCE_README.txt -text
documents/caCORE3.0.1.1_notes.txt -text
documents/caCORE3.0.1_notes.txt -text
documents/oracle-ds.xml -text
lib/MSSOUserValidator.jar -text
lib/dtsrpcclient.jar -text
lib/handle.jar -text
lib/handlerservice.jar -text
lib/lbAdmin.jar -text
lib/lbImpl.jar -text
lib/lbInterfaces.jar -text
lib/lbModel.jar -text
lib/lexrpcclient.jar -text
lib/lexrpcserver.jar -text
models/caCORE3-0-EVS.eap -text
models/caCORE3-1-EVS.eap -text
models/caCORE3-2-EVS.eap -text
models/caCORE3-2.eap -text
models/caCORE3-2.xmi -text svneol=unset#application/octet-stream
models/xmi/caCORE3-2.xmi -text
models/xmi/evs3-1.xmi -text
models/xmi/evs3-2.xmi -text svneol=unset#application/octet-stream
models/xmi/fixed_evs3-1.xmi -text
models/xmi/fixed_evs3-2.xmi -text svneol=unset#application/octet-stream
orm/gov/nih/nci/cabio/domain/Location.hbm.xml -text
orm/gov/nih/nci/cabio/domain/impl/LocationImpl.hbm.xml -text
orm/gov/nih/nci/common/provenance/domain/Provenance.hbm.xml -text
orm/gov/nih/nci/common/provenance/domain/impl/ProvenanceImpl.hbm.xml -text
src/gov/nih/nci/codegen/core/transformer/UML13CastorMappingTransformer.java -text
src/gov/nih/nci/codegen/core/transformer/UML13CastorMappingTransformerForCACORE.java -text
src/gov/nih/nci/codegen/core/transformer/UML13DAOTransformer.java -text
src/gov/nih/nci/codegen/core/transformer/UML13SchemaTransformer.java -text
src/gov/nih/nci/codegen/core/transformer/UML13SchemaTransformerForEVS.java -text
src/gov/nih/nci/codegen/core/transformer/UML13WSDDTransformerForEVS.java -text
src/gov/nih/nci/common/util/HTTPUtils.java -text
src/gov/nih/nci/common/util/JSPUtils.java -text
src/gov/nih/nci/common/util/PrintUtils.java -text
src/gov/nih/nci/common/util/SVGManipulator.java -text
src/gov/nih/nci/common/util/SearchUtils.java -text
src/gov/nih/nci/evs/query/EVSQuery.java -text
src/gov/nih/nci/evs/query/EVSQueryImpl.java -text
src/gov/nih/nci/system/applicationservice/ApplicationService.java -text
src/gov/nih/nci/system/applicationservice/impl/ApplicationServiceBusinessImpl.java -text
src/gov/nih/nci/system/applicationservice/impl/ApplicationServiceImpl.java -text
src/gov/nih/nci/system/comm/client/ApplicationServiceClientImpl.java -text
src/gov/nih/nci/system/comm/common/ApplicationServiceProxy.java -text
src/gov/nih/nci/system/comm/server/ApplicationServiceServerImpl.java -text
src/gov/nih/nci/system/dao/cache/EVSCacheManager.java -text
src/gov/nih/nci/system/dao/impl/externalsystem/DAS2DAOImpl.java -text
src/gov/nih/nci/system/dao/impl/externalsystem/EVSDTSDAOImpl.java -text
src/gov/nih/nci/system/dao/impl/externalsystem/EVSLexBigDAOImpl.java -text
src/gov/nih/nci/system/dao/properties/EVSProperties.java -text
src/gov/nih/nci/system/dao/security/DAOSecurity.java -text
src/gov/nih/nci/system/dao/security/MedDRASecurity.java -text
src/gov/nih/nci/system/dao/security/SecurityKey.java -text
src/gov/nih/nci/system/dao/security/UserCredentials.java -text
src/gov/nih/nci/system/proxy/HTTPQuery.java -text
src/gov/nih/nci/system/webservice/EVSWSTransformer.java -text
src/gov/nih/nci/system/webservice/EVSWebService.java -text
src/gov/nih/nci/system/webservice/WSQuery.java -text
