* text=auto !eol
/.project -text
/README.txt -text
/build-custom-cacore.properties -text
/build-custom-cacore.xml -text
/build.xml -text
conf/BeanEVSImpl.javajet -text
conf/BeanEVSWS.javajet -text
conf/BeanSkel_EVS.skeleton -text
conf/ClientREADME.txt -text
conf/DAOConfig-evs.xml -text
conf/DAOConfig-evs2.xml -text
conf/DAOConfig.xml -text
conf/EVSBeanSkel.skeleton -text
conf/EVSDAOBeanImpl.javajet -text
conf/EVSQueryBeanImpl.javajet -text
conf/EVSQueryImplBeanImpl.javajet -text
conf/beanevsgeneration.xml -text
conf/beanevswsgeneration.xml -text
conf/core-deploy.properties -text
conf/daogeneration.xml -text
conf/evsBeans.properties -text
conf/evsFormat.xsl -text
conf/evsPackageUtil.xml -text
conf/hibernate.properties -text
conf/orm1.cfg.xml -text
conf/orm2.cfg.xml -text
conf/resources/NCISystemReleaseHistory.txt -text
conf/resources/config/config.props -text svneol=unset#application/octet-stream
conf/svr_1/admpriv.bin -text
conf/svr_1/admpub.bin -text
conf/svr_1/config.dct -text svneol=unset#application/octet-stream
conf/svr_1/contactdata.dct -text svneol=unset#application/octet-stream
conf/svr_1/handles.jdb -text
conf/svr_1/nas.jdb -text
conf/svr_1/privkey.bin -text
conf/svr_1/pubkey.bin -text
conf/svr_1/sitebndl.zip -text
conf/svr_1/siteinfo.bin -text
conf/web.xml -text
conf/wsddEVSUtil.xml -text
conf/wsdl/server-config.wsdd -text
conf/xml.properties -text
conf/xslt/cacoreFormat.xsl -text
conf/xslt/evsFormat.xsl -text
conf/xslt/images/evs.gif -text
demo/EVSMonitor.java -text
demo/EVSWSClient.java -text
demo/TestCase.java -text
demo/TestClient.java -text
demo/TestDSR.java -text
demo/TestEVS.java -text
demo/TestSVG.java -text
demo/TestXML.java -text
demo/WSTestClient.java -text
demo/build_client.xml -text
demo/evsmonitor.bat -text
documents/caCORE3-0-1-1_README.txt -text
documents/caCORE3-0-1-1_SOURCE_README.txt -text
documents/caCORE3-0-1-2_README.txt -text
documents/caCORE3-0-1-2_SOURCE_README.txt -text
documents/caCORE3-0-1_README.txt -text
documents/caCORE3-0-1_SOURCE_README.txt -text
documents/caCORE3-1_README.txt -text
documents/caCORE3-1_SOURCE_README.txt -text
documents/caCORE3.0.1.1_notes.txt -text
documents/caCORE3.0.1_notes.txt -text
documents/caCORE_SDK1.0_notes.txt -text
documents/caCORE_SDK1.1_notes.txt -text
documents/oracle-ds.xml -text
lib/MSSOUserValidator.jar -text
lib/handle.jar -text
lib/handlerservice.jar -text
lib/lbRuntime.jar -text
lib/lexrpcclient.jar -text
lib/lexrpcserver.jar -text
models/caCORE3-0-EVS.eap -text
models/caCORE3-1-EVS.eap -text
models/caCORE3-2-EVS.eap -text
models/caCORE3-2.eap -text
models/xmi/caCORE3-2.xmi -text
models/xmi/evs3-1.xmi -text
models/xmi/evs3-2.xmi -text svneol=unset#application/octet-stream
models/xmi/fixed_evs3-1.xmi -text
models/xmi/fixed_evs3-2.xmi -text svneol=unset#application/octet-stream
orm/DAOConfig.xml -text
orm/gov/nih/nci/cabio/domain/Location.hbm.xml -text
orm/gov/nih/nci/cabio/domain/impl/LocationImpl.hbm.xml -text
orm/gov/nih/nci/common/provenance/domain/Provenance.hbm.xml -text
orm/gov/nih/nci/common/provenance/domain/impl/ProvenanceImpl.hbm.xml -text
src/gov/nih/nci/codegen/core/handler/ResourceFileHandler.java -text
src/gov/nih/nci/codegen/core/transformer/UML13DAOTransformer.java -text
src/gov/nih/nci/codegen/core/transformer/UML13WSDDTransformerForEVS.java -text
src/gov/nih/nci/common/util/Constant.java -text
src/gov/nih/nci/common/util/HTTPUtils.java -text
src/gov/nih/nci/common/util/PrintUtils.java -text
src/gov/nih/nci/common/util/SearchUtils.java -text
src/gov/nih/nci/common/util/StringHelper.java -text
src/gov/nih/nci/evs/query/EVSQuery.java -text
src/gov/nih/nci/evs/query/EVSQueryImpl.java -text
src/gov/nih/nci/system/applicationservice/ApplicationService.java -text
src/gov/nih/nci/system/applicationservice/impl/ApplicationServiceBusinessImpl.java -text
src/gov/nih/nci/system/applicationservice/impl/ApplicationServiceImpl.java -text
src/gov/nih/nci/system/comm/client/ApplicationServiceClientImpl.java -text
src/gov/nih/nci/system/comm/common/ApplicationServiceProxy.java -text
src/gov/nih/nci/system/comm/server/ApplicationServiceServerImpl.java -text
src/gov/nih/nci/system/conf/DAOConfig.xml -text
src/gov/nih/nci/system/dao/DAO.java -text
src/gov/nih/nci/system/dao/DAOFactory.java -text
src/gov/nih/nci/system/dao/impl/externalsystem/EVSDAOImpl.java -text
src/gov/nih/nci/system/dao/impl/externalsystem/EVSDTSImpl.java -text
src/gov/nih/nci/system/dao/impl/externalsystem/EVSLexBigImpl.java -text
src/gov/nih/nci/system/dao/impl/orm/ORMDAOImpl.java -text
src/gov/nih/nci/system/delegator/BaseDelegate.java -text
src/gov/nih/nci/system/proxy/HTTPQuery.java -text
src/gov/nih/nci/system/webservice/EVSWSTransformer.java -text
src/gov/nih/nci/system/webservice/EVSWebService.java -text
src/gov/nih/nci/system/webservice/WSQuery.java -text
